body{
    background: linear-gradient(90deg, #d6ffce, #0b5c9e);
    background-size: 400% 400%;
    
    animation: AnimationName 7s linear infinite;
    
}

@keyframes AnimationName {
    0%{background-position:0% 99%}
    50%{background-position:100% 2%}
    100%{background-position:0% 99%}
}

  .second {
    border-bottom: 2px solid #000000;
    color: #000000;
    padding-bottom: .1em;
    text-decoration: none;
  }
  
  .second:hover {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg id='squiggle-link' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:ev='http://www.w3.org/2001/xml-events' viewBox='0 0 20 4'%3E%3Cstyle type='text/css'%3E.squiggle{animation:shift .3s linear infinite;}@keyframes shift {from {transform:translateX(0);}to {transform:translateX(-20px);}}%3C/style%3E%3Cpath fill='none' stroke='%23453886' stroke-width='2' class='squiggle' d='M0,3.5 c 5,0,5,-3,10,-3 s 5,3,10,3 c 5,0,5,-3,10,-3 s 5,3,10,3'/%3E%3C/svg%3E");
    background-position: bottom;
    background-repeat: repeat-x;
    background-size: 4.5%;
    border-bottom: 0;
    padding-bottom: .1em;
    text-decoration: none;
    color: #453886;
  }

  p{
      font-size: 40px;
      font-family: 'Pt sans';
      padding-left: 50px;
  }

  .boob1{
      position: absolute;
    transform: scale(0.5);
    left: 800px;
    
    animation: buby1 4s linear infinite;
  }

  @keyframes buby1{
      0% {left: 800px;}
      0%{bottom: -100px;}
      25% {bottom: 100px;}
      25% {left: 1000px;}
      50% {left: 800px;}
      50% {bottom: 400px;}
      75% {bottom: 800px;}
      75% {left: 1000px;}

  }

  .boob2{
    position: absolute;
  transform: scale(0.2);
  left: 700px;
  
  animation: buby2 3.8s linear infinite;
}

@keyframes buby2{
    0% {left: 700px;}
    0%{bottom: -100px;}
    20% {bottom: 200px;}
    20% {left: 600px;}
    40% {left: 700px;}
    40% {bottom: 400px;}
    60% {bottom: 700px;}
    60% {left: 600px;}
    80% {bottom: 800px;}
    80% {left: 700px;}
    100% {bottom: 1200px;}
    100% {left: 600px;}

}

.boob3{
    position: absolute;
  transform: scale(0.35);
  left: 1000px;
  
  animation: buby3 5s linear infinite;
}

@keyframes buby3{
    0% {left: 1000px;}
    0%{bottom: -200px;}
    20% {bottom: 100px;}
    20% {left: 900px;}
    40% {left: 1000px;}
    40% {bottom: 300px;}
    60% {bottom: 600px;}
    60% {left: 900px;}
    80% {bottom: 700px;}
    80% {left: 1000px;}
    100% {bottom: 1100px;}
    100% {left: 900px;}

}